#donate {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background: transparent;
    background-image: url('../img/icon/donate.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

#donateInfo {
    z-index: 1999;
    position: absolute;
    right: -250px;
    bottom: 60px;
    width: 250px;
    height: 250px;
    background: #000;
    background-image: url('../img/donate-me.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: transform 0.3s ease-in-out;
}

#donateInfo.show {
    transform: translateX(-260px);
}

#donate-title {
    width: 100%;
    position: absolute;
    top: 2px;
    font-size: 12px;
    text-align: center;
    cursor: default;
}

#thanks {
    width: 100%;
    position: absolute;
    bottom: 2px;
    font-size: 12px;
    text-align: center;
    cursor: default;
}