#wizard {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 15px;
    z-index: 999;
}

#wizard img {
    width: 300px;
    height: 300px;
}

#talk {
    width: 80%;
    height: 30px;
    left: 10%;
    background-color: black;
    border-radius: 30px;
    position: absolute;
    bottom: -15px;
    overflow: hidden;
    border: 2px solid #000;
}

#thinking {
    width: calc(100% - 60px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 10px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
    color: #000;
    border: none;
    border-radius: 3px;
    outline: none;
}

#thinking option {
    color: #000;
    background-color: white;
}

#thinking option:hover {
    background-color: lightgray;
}

#thinking option:checked {
    background-color: lightblue;
    font-weight: bold;
}

#submit {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background-color: #000;
    border: #000;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}